- content_for :moving do
  %title= @article.title
  %meta(name="description" content="#{@article.description}")
  %meta(name="keywords" content="#{@article.keywords}")  
%h1= @article.title
!= @article.body